{%extends 'base.html'%}
{%block content%}
<style>
    body{background-color: #2c2c2c}
    *{color: #c4c4c4 !important;}
    input{color: black!important;}
    input[type='number']{background-color: white!important; height: 30px!important;}
    .form-check-label {
        font-weight: normal !important;
    }
</style>
<div class="mx-5 my-5">
    <div class="card text-bg-dark " style="margin: auto; max-width: 800px">
        <div class="card-header text-center">
            <strong>Лабораторна робота "Бриф", виконана Козакевич Наталією, ІПЗ-19-1</strong>
        </div>
        <div class="card-body">
            <form action="create-brif" method="post">
                {%csrf_token%}
                <div class="mb-3">
                    <label for="fullName" class="form-label">Ваше повне ім'я</label>
                    <input type="text" class="form-control" id="fullName" name="fullName" required>
                </div>
                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Контактний номер телефону</label>
                    <input type="text" pattern="((+38)?(?\d{3})?[\s.-]?(\d{7}|\d{3}[\s.-]\d{2}[\s.-]\d{2}|\d{3}-\d{4}))"
                           class="form-control" id="phoneNumber" name="phoneNumber" required>
                </div>
                <div class="mb-3">
                    <label for="emailAdress" class="form-label">Контактна електронна пошта</label>
                    <input type="email" class="form-control" id="emailAdress" name="emailAdress" required>
                </div>
                <div class="mb-3">
                    <label for="companyName" class="form-label">Назва компанії (проекту)</label>
                    <input type="text" class="form-control" id="companyName" name="companyName" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Якого типу повинен бути ваш сайт (оберіть варіант)</label>
                    <div class="form-check">
                        <input class="form-check-input" id="webCard" type="radio" name="webType" value="webCard"
                               required>
                        <label class="form-check-label" for="webCard">
                            Сайт-візитка (веб-сайт, на якому міститься загальна інформація про компанію та її контактні
                            дані)
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="webBusiness" type="radio" name="webType" value="webBusiness"
                               required>
                        <label class="form-check-label" for="webBusiness">
                            Бізнес сайт (веб-сайт, який містить докладну інформацію про компанію, її товари і / або
                            послуги,
                            а також
                            може містити каталог товарів або послуг, але не має можливості здійснювати замовлення на
                            сайті)
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="webStore" type="radio" name="webType" value="webStore"
                               required>
                        <label class="form-check-label" for="webStore">
                            Інтернет-магазин (веб-сайт, на якому можна здійснювати покупки, оформлювати замовлення та
                            оплачувати
                            товари або послуги)
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="webLending" type="radio" name="webType" value="webLending"
                               required>
                        <label class="form-check-label" for="webLending">
                            Лендінг (веб-сторінка, яка розроблена з метою просування конкретного продукту або послуги та
                            максимальної конверсії відвідувачів у потенційних клієнтів)
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="goal" class="form-label">Яка ціль вашого сайту?</label>
                    <input type="text" class="form-control" id="goal" name="goal" required>
                </div>
                <div class="mb-3">
                    <label for="services" class="form-label">Які послуги ви надаєте?</label>
                    <input type="text" class="form-control" id="services" name="services" required>
                </div>
                <div class="mb-3">
                    <label for="selling" class="form-label">Вам потрібно буде продавати продукти чи послуги через свій
                        веб-сайт?
                        Якщо так, уточніть які саме</label>
                    <input type="text" class="form-control" id="selling" name="selling">
                </div>
                <div class="mb-3">
                    <label for="functions" class="form-label">Які функції ви хочете включити на свій сайт?</label>
                    <input type="text" class="form-control" id="functions" name="functions" required>
                </div>
                <div class="mb-3">
                    <label for="functions" class="form-label">Чи є у вас брендинг який ми можемо використовувати на
                        веб-сайті?</label>
                    <div class="form-check form-switch">
                        <input type="hidden" name="logo" value="off">
                        <input class="form-check-input" type="checkbox" role="switch" id="logo" name="logo">
                        <label class="form-check-label" for="logo">Логотип</label>
                    </div>
                    <div class="form-check form-switch">
                        <input type="hidden" name="palate" value="off">
                        <input class="form-check-input" type="checkbox" role="switch" id="palate" name="palate">
                        <label class="form-check-label" for="palate">Кольорова палітра</label>
                    </div>
                    <div class="form-check form-switch">
                        <input type="hidden" name="style" value="off">
                        <input class="form-check-input" type="checkbox" role="switch" id="style" name="style">
                        <label class="form-check-label" for="style">Фірмовий стиль</label>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-check-label" for="serving">Вам буде потрібно постійне обслуговування та підтримка
                        веб-сайту?</label>
                    <div class="form-check form-switch">
                        <input type="hidden" name="serving" value="off">
                        <input class="form-check-input" type="checkbox" role="switch" id="serving" name="serving">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="budget" class="form-label">Який ваш бюджет на проект веб-сайту?</label>
                    <input type="number" class="form-range" min="1000" max="50000" step="1000" id="budget" name="budget"
                           required>
                </div>
                <div class="mb-3">
                    <input type="text" name="daterange" value="01/01/2023 - 01/31/2023" required/>

                    <script type="text/javascript">
                        $(function () {
                            $('input[name="daterange"]').daterangepicker();
                        });
                    </script>
                </div>
                <button type="submit" class="btn btn-primary">Відправити</button>
            </form>
        </div>
        <div class="card-footer text-body-secondary text-center">
            <a href="https://t.me/anakonda24_7">Сконтактуйте з нами</a>
        </div>
    </div>
</div>
{%endblock%}