{%extends 'base.html'%}
{%block content%}
<style>
    body{background-color: #2c2c2c}
    *{color: #c4c4c4 !important;}
</style>
<div class="card text-bg-dark mb-3" style="max-width: 28rem; margin: auto">
    <div class="card-header">Вітаю</div>
    <div class="card-body">
        <h5 class="card-title">Ваше замовлення прийнято</h5>
        <p class="card-text">Очікуйте відповідь найближчим часом за вашими контактними даними</p>
    </div>
</div>
{%endblock%}